apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: alertmanager
  namespace: alertmanager
  labels:
    app.kubernetes.io/name: alertmanager

spec:
  serviceName: alertmanager
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: alertmanager

  template:
    metadata:
      labels:
        app.kubernetes.io/name: alertmanager
    spec:
      containers:
      - name: alertmanager
        image: quay.io/prometheus/alertmanager:v0.29.0
        args:
          - --config.file=/etc/alertmanager/config/config.yaml
          - --storage.path=/alertmanager
        ports:
        - name: web
          containerPort: 9093
        volumeMounts:
          - name: config-volume
            mountPath: /etc/alertmanager/config
            readOnly: true

        resources:
          limits:
            cpu: 500m
            memory: 1Gi
          requests:
            cpu: 250m
            memory: 500Mi
            
      volumes:
        - name: config-volume
          secret:
            secretName: alertmanager-config-secrets