apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: alertmanager
  labels:
    app: alertmanager
spec:
  serviceName: "alertmanager-headless"
  replicas: 2
  selector:
    matchLabels:
      app: alertmanager
  template:
    metadata:
      labels:
        app: alertmanager
    spec:
      containers:
      - name: alertmanager
        image: quay.io/prometheus/alertmanager:v0.27.0
        args:
        - --config.file=/etc/alertmanager/config.yml
        - --storage.path=/alertmanager
        - --web.listen-address=0.0.0.0:9093 
        ports:
        - containerPort: 9093
          name: web
        - containerPort: 6783
          name: cluster
        volumeMounts:
        - name: config-volume
          mountPath: /etc/alertmanager
        - name: storage
          mountPath: /alertmanager
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"

      - name: config-reloader
        image: quay.io/prometheus-operator/prometheus-config-reloader:v0.70.0
        args:
          - --watch-interval=1m
          - --config-file=/etc/alertmanager/config.yml
          - --webhook-url=http://127.0.0.1:9093/-/reload 
        volumeMounts:
          - name: config-volume
            mountPath: /etc/alertmanager
        resources:
          limits:
            memory: "32Mi"
            cpu: "100m"

      volumes:
      - name: config-volume
        secret:
          name: alertmanager-config-secret

volumeClaimTemplates:
  - metadata:
      name: storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
