apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: alertmanager
  namespace: monitoring
  labels:
    app.kubernetes.io/name: alertmanager
spec:
  serviceName: alertmanager
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: alertmanager
  template:
    metadata:
      labels:
        app.kubernetes.io/name: alertmanager
    spec:
      containers:
      - name: alertmanager
        image: quay.io/prometheus/alertmanager:v0.29.0
        args:
          - --config.file=/etc/alertmanager/config/config.yaml
          - --storage.path=/alertmanager
          - --web.listen-address=0.0.0.0:9093 # A porta 9093 será acessada pelo Sidecar
        ports:
        - containerPort: 9093
          name: web

#      - name: config-reloader
#        image: quay.io/prometheus-operator/prometheus-config-reloader:v0.70.0 # Use uma tag de versão estável
#        args:
#          - --watch-interval=3m # Intervalo de verificação de alterações
#          - --config-file=/etc/alertmanager/config.yaml
#          - --webhook-url=http://127.0.0.1:9093/-/reload # Webhook para o Alertmanager
        volumeMounts:
          - name: config-volume
            mountPath: /etc/alertmanager/config
            readOnly: true
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
          requests:
            cpu: 250m
            memory: 500Mi

      volumes:
        - name: config-volume
          secret:
            secretName: alertmanager-config-secret
